---
interface Props {
  sideOverId?: string;
}

const { sideOverId } = Astro.props;
---

<div class="flex flex-col justify-between gap-4 md:flex-row md:items-center">
  <div>
    <h2 class="text-text-primary text-2xl font-bold">Listado de Estudiantes</h2>
    <p class="text-text-secondary mt-1">
      Gestiona la información y matrículas de los alumnos.
    </p>
  </div>
  <button
    onclick={sideOverId
      ? `document.getElementById('${sideOverId}').showModal()`
      : ""}
    class="bg-rayito-blue hover:bg-rayito-blue/90 shadow-rayito-blue/20 flex transform items-center justify-center rounded-xl px-6 py-3 font-bold text-white shadow-lg transition-all hover:scale-105"
  >
    <span class="mr-2 text-xl">+</span> Nuevo Estudiante
  </button>
</div>
