---
import "@styles/global.css";
import MessageError from "@components/MessageError.astro";
import MessageSuccess from "@components/MessageSuccess.astro";

const { pageTitle } = Astro.props;

// Leer mensajes de error/éxito desde query params
const errorMessage = Astro.url.searchParams.get("error");
const successMessage = Astro.url.searchParams.get("success");
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Rayito de Luz - {pageTitle}</title>
  </head>
  <body>
    <div id="app">
      {errorMessage && <MessageError message={errorMessage} />}
      {successMessage && <MessageSuccess message={successMessage} />}
      <slot />
    </div>
  </body>
</html>
