---
import WebLayout from "@layouts/WebLayout.astro";
import LoginForm from "@components/auth/LoginForm.astro";
import MessageError from "@components/MessageError.astro";
import MessageSuccess from "@components/MessageSuccess.astro";

// Leer mensajes de error/éxito desde query params
const errorMessage = Astro.url.searchParams.get("error");
const successMessage = Astro.url.searchParams.get("success");
---

<WebLayout pageTitle="Iniciar Sesión">
  {errorMessage && <MessageError message={errorMessage} />}
  {successMessage && <MessageSuccess message={successMessage} />}

  <main
    class="min-h-screen flex items-center justify-center bg-gray-50 relative overflow-hidden"
  >
    <!-- Animated background gradients -->
    <div
      class="absolute top-0 -left-4 w-96 h-96 bg-rayito-blue/5 rounded-full mix-blend-multiply filter blur-3xl opacity-70 animate-blob"
    >
    </div>
    <div
      class="absolute top-0 -right-4 w-96 h-96 bg-rayito-yellow/5 rounded-full mix-blend-multiply filter blur-3xl opacity-70 animate-blob animation-delay-2000"
    >
    </div>
    <div
      class="absolute -bottom-8 left-20 w-96 h-96 bg-rayito-pink/5 rounded-full mix-blend-multiply filter blur-3xl opacity-70 animate-blob animation-delay-4000"
    >
    </div>

    <div class="w-full flex flex-col items-center px-4 relative">
      <LoginForm />

      <footer class="mt-12 text-gray-400 text-xs text-center">
        &copy; {new Date().getFullYear()} Jardín Infantil Rayito de Luz. <br />
        Todos los derechos reservados.
      </footer>
    </div>
  </main>
</WebLayout>
